drf-yasg==1.21.5
environs==9.5.0
pip-chill==1.0.3
psycopg==3.1.17
pydantic==2.5.3
django-unfold==0.18.1

{
   ...
   "Source": "Card",
   "IdempotencyKey": "10233036-5385-4a97-9016-a0f6306fddc4",
   "PaymentId": "736505FD22CD4D85A0D9FEC2C",
   "Type": "PayWithCard",
   "PaymentStatus": "Draft",
   "Amount": 1.0,
   "FinalAmount": null,
   "Currency": "UZS",
   "Commission": null,
   "CreateDate": 638413141693310745,
   "Token": "CF61A2DXXXXX4397XXXXCEBD0",
   ...
}

{
   ...
   "Source": "Card",
   "IdempotencyKey": "10233036-5385-4a97-9016-a0f6306fddc4",
   "PaymentId": "736505FD22CD4D85A0D9FEC2C",
   "Type": "PayWithCard",
   "PaymentStatus": "Captured",
   "Amount": 1.0,
   "FinalAmount": 1.0,
   "Currency": "UZS",
   "Token": "CF61A2D0245C4397AAF0CEBD0",
   "CardMask": "561468xxxxxx2832",
   "CardBrand": "Uzcard"
   ...
}
